
# Python packaging
.Python
bin/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache/
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Logs and databases
.tmp
*.sql
*.sqlite

# mypy (ok)
.mypy_cache/
*.dmypy.json

# Pyre type checker
.pyre/

# numba (ok)
*.nbc
*.nbi

# Jupyter Notebooks
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# Linux (ok)
*~

# macOS General (ok)
*.dmg
*.DS_Store
.AppleDouble/

# Windows
*.dll
*.exe
*.db
*.stackdump
$RECYCLE.BIN/
*.cab
*.msi
*.msix
*.msm
*.msp
*.lnk

# Gmsh
*.msh
*.geo
*.geo_unrolled

# Paraview
*.pvd
*.vtu
*.csv

# Graphics formats
*.vrml
*.jpg
*.jpeg
*.jpe
*.jif
*.jfif
*.jfi
*.jp2
*.j2k
*.jpf
*.jpx
*.jpm
*.mj2
*.jxr
*.hdp
*.wdp
*.gif
*.raw
*.webp
*.png
*.apng
*.mng
*.tiff
*.tif
*.svg
*.svgz
*.xbm
*.bmp
*.dib
*.ico
*.3dm
*.max

# LaTeX
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2
.*.lb
*.dvi
*.xdv
*-converted-to.*
*.ps
*.eps
*.pdf

# IDE Misc.
*#
.idea/
nbproject/
.vscode/
.spyderproject
.spyproject

# Files Misc.
*.7z
*.dat
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
*.class
*.o
*.seed
*.so
*.swo
*.swp
*.swn
*.swm
*.pid
*.pyc
*.py#
*.py~
*.un~
*.pos
*.mtx
*.m
*.fab
*.mat
*.py_o
*.txt
