meshio >= 5.0
networkx
numpy
scipy
sympy
matplotlib
cython;platform_system=="Linux"
future
six
shapely
shapely[vectorized]
pytest >= 4.6
pytest-cov
pytest-runner
numba >= 0.53.0
gmsh
flake8
mypy
black == 22.1.0
isort
typing_extensions
