future
gmsh
matplotlib
meshio >= 5.0
networkx
numba >= 0.57
numpy
requests
scipy
seaborn
shapely
six
sympy
typing_extensions
black == 24.*
deepdiff
flake8
isort
mypy
pytest >= 4.6
pytest-cov
pytest-runner
chemicals
thermo
pyvista