# Build a Docker image for main branch PRs. Thereby also run pytest to verify the
# image builds correctly. This workflow is similar to push-stable-docker-image.yml,
# but does not push the image to Docker Hub. It also runs only on pull requests to main,
# whereas push-stable-docker-image.yml runs on pushes (PRs accepted) to main.
name: Build a Docker image for main branch PRs

on:
  workflow_dispatch:
    # run jobs manually
  pull_request:
    branches:
      - main

jobs:
  push_to_registry:
    name: Push Docker image to Docker Hub
    runs-on: ubuntu-latest
    steps:
      - name: Check out the repo
        uses: actions/checkout@v3
      
      - name: Log in to Docker Hub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_PASSWORD }}

      - name: Build and push stable
        uses: docker/build-push-action@v3
        with:
          context: ./
          file: ./dockerfiles/stable/Dockerfile
          builder: ${{ steps.buildx.outputs.name }}
          push: false
          tags: ${{ secrets.DOCKER_HUB_USERNAME }}/stable:latest

