# This workflow builds a Docker image for the develop branch and pushes it to Docker
# Hub.
name: Publish Docker image for develop branch

on:
  workflow_dispatch:
    # run jobs manually
  push:
    branches:
       - develop

jobs:
  push_to_registry:
    name: Push Docker image to Docker Hub
    runs-on: ubuntu-latest
    steps:
      - name: Check out the repo
        uses: actions/checkout@v3
      
      - name: Log in to Docker Hub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_PASSWORD }}

      - name: Build and push base
        uses: docker/build-push-action@v3
        with:
          context: ./
          file: ./dockerfiles/base/Dockerfile
          builder: ${{ steps.buildx.outputs.name }}
          push: true
          tags: ${{ secrets.DOCKER_HUB_USERNAME }}/base:latest

      - name: Build and push dev
        uses: docker/build-push-action@v3
        with:
          context: ./
          file: ./dockerfiles/dev/Dockerfile
          builder: ${{ steps.buildx.outputs.name }}
          push: true
          tags: ${{ secrets.DOCKER_HUB_USERNAME }}/dev:latest

